*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
main{
  width: 100%;
  display:flex;
}
header{
  width: 100%;
  height: 50px;
  background: #46474d;
}
header span{
  font-size: 30px;
  padding: 10px;
  color: white;
  transition: all 300ms;
  cursor: pointer;
  position:relative;
  top: 16px;
  left: 10px;
}
header span:hover{
background: rgba(0, 0, 0, 0.4);
border-radius: 10px;
}
.content-menu{
  width: 100px;
  background:#212229;
  transition: all 300ms;
}
.content-menu2{
  transform: translateX(-100px);
}
.content-menu li{
  list-style: none;
  padding: 20px;
  text-align: center;
  color: #f1f1f5;
  transition: all 300ms;
  cursor:pointer;
}
.content-menu li:hover{
  transform: translateY(10px);
  background: rgba(0,0,0,0.5);
}
.content-menu li span{
font-size: 25px;
}
.content-menu li h4{
font-weight: 100;
transform: translateY(14px) translateX(-110px);
transition: all 300ms;
}
.icon1{
  color: #088a8e;
}
.icon2{
  color: #12b33f;
}
.icon3{
  color: #a6b312;
}
.icon4{
  color: #4bb7d9;
}
.icon5{
  color: #3036c8;
}
.icon6{
  color: #b37212;
}
.content-menu:hover .text1{
transform: translateX(0px);
transition: all 100ms;
}
.content-menu:hover .text2{
transform: translateX(0px);
transition: all 200ms;
}
.content-menu:hover .text3{
transform: translateX(0px);
transition: all 300ms;
}
.content-menu:hover .text4{
transform: translateX(0px);
transition: all 400ms;
}
.content-menu:hover .text5{
transform: translateX(0px);
transition: all 500ms;
}
.content-menu:hover .text6{
transform: translateX(0px);
transition: all 600ms;
}
/* estilos formularios*/
.content-formulario{
  padding: 0px;
  display: block;
  margin: 0px;
}
article{
  display:flex;
}
.h2-registro{
  color: #0c5b9c;
  margin-top: 10px;
}
.input-registro{
  display: flex;
  margin-top: 20px;
  padding: 20px;
  margin-left: 30px;

  position: relative;
}
.input-registro select{
  width: 150px;
  height: 30px;
  border: 2px solid #000a34;
}

input{
  width: 150px;
  height: 30px;
  border: 2px solid #000a34;
  border-radius: 1px;
  padding: 5px;
  margin-left:5px;
  margin-top: 5px;

}
#button{
  background: #000a34;
  font-size: 5px;
  color: white;
  width: 130px;
  height: 40px;
  font-size: 20px;
  margin-left: 82%;
  border-radius: 4px;
}
table{
  margin-top: 50px;
  position: relative;
  margin-left: 50px;
}
.tabla th{
  padding: 10px;
  height: 10px;
  background: #000a34;
  color: white;
  margin-right: 5px;
  border-radius: 3px;
}
.tabla td{
  padding: 10px;
}
